
@font-face {
    font-family: 'poppins';
    src: url('../Front-End/Assets/Poppins/Poppins-Regular.ttf');
}

*{
    margin: 0%;
    padding: 0%;
    font-family: 'poppins', Verdana, Geneva, Tahoma, sans-serif;
}

#Cabecalho{
    background-color: #00072C;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 3%;
    box-sizing: border-box;
    position: fixed;
    z-index: 100;
}

#Cabecalho > a{
    width: 15%;
    flex: 0 0 15%;
}

#logo{
    width: 15%;
}

#Cabecalho a #logo{
    width: 100%;
    display: block;
}

.navegacao{
    font-size: 1.5vw;
    color:snow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

.Anav{
    text-decoration: none;
    color:snow;
}

.Hnav:hover{
    border: snow 1px solid;
    padding: 1%;
    transition: 0.5s;
    border-radius: 5px;
}

.icon{
    font-size: 2.5vw;
    color: snow;
}

/* ---------------------------------------------- */

.rodape {
    width: 100%;
    background-color: #25335b;
    color: #c7d0eb;
    padding: 40px 0 20px;
}

.rodape-conteudo {
    width: 90%;
    max-width: 1680px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 40px;
}

.rodape-apresentacao img {
    width: 220px;
    height: auto;
    margin-bottom: 15px;
}

.rodape-apresentacao p {
    width: 80%;
    font-size: 15px;
    line-height: 1.5;
}

.rodape-coluna {
    display: flex;
    flex-direction: column;
}

.rodape h2 {
    color: white;
    font-size: 16px;
    margin-bottom: 18px;
}

.rodape a {
    color: #d0d8f1;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.rodape a:hover {
    color: white;
}

.rodape-coluna p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.rodape-final {
    width: 90%;
    max-width: 1680px;
    margin: 30px auto 0;
    padding-top: 17px;

    border-top: 1px solid #53618a;

    text-align: center;
    font-size: 13px;
}

